.menu-list {
  margin: 0px;
  color: #fff;
}
.tree-view-container {
  min-height: 80vh;
  width: 350px;
  background: rgb(0, 71, 110);
}
.menu-item-container {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  color: #fff;
}
.menu-list-container {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
